<div class="file-wrapper">
    <a href="/folders/<%=file.folderId %>/files/<%=file.id %>" class="file-name"> <%= file.name %> </a>
    <button class="btn-default downloadBtn"> <a href="#"> Downolad </a> </button>
</div>