<div class="fileLayout">

        <h3>Cats Folder / Cat File 1</h3>

        <div class="file-info">
            <p> name: Cat File 1</p>
            <p> size: Cat File 1</p>
            <p> creation time: 13/10/2024</p>
        </div>


    <div class="download_and_delete">
        <button class="btn-default downloadBtn"> <a href="#"> Download </a> </button>
        <a href="#"> <img src="/img/delete.svg" alt="rubbish"></a>
    </div>
</div>