<div class="file-wrapper">
    <a href="/folders/<%=file.folderId %>/files/<%=file.id %>" class="file-name"> <%= file.name %> </a>

    <form action="/download-file/<%= file.id %>">
        <button class="btn-default downloadBtn" type="submit" >Download</button>
    </form>
</div>