<div class="folderLayout">
    <div class="folder_header">
        <h3> <%= lastFolder.name %> </h3>

        <div class="add_and_delete">
            <button class="btn-default addFileBtn"> <a href="#"> Add new file </a> </button>
            <a href="#"> <img src="/img/delete.svg" alt="rubbish"></a>
        </div>
    </div>

    <div class="files-container">
        <% if (!lastFolder.files) { %>
            <p> no files yet </p>
        <% } else { %>
            <% lastFolder.files.forEach(function(file) { %>
                <%- include('fileLink', { name: file.name }) %>
            <% }); %>
        <% } %>
    </div>
</div>