<div class="folderLayout">
    <div class="folder_header">
        <h3>Cats Folder</h3>

        <div class="add_and_delete">
            <button class="btn-default addFileBtn"> <a href="#"> Add new file </a> </button>
            <a href="#"> <img src="/img/delete.svg" alt="rubbish"></a>
        </div>
    </div>

    <div class="files-container">
        <%- include('fileLink') %>
        <%- include('fileLink') %>
        <%- include('fileLink') %>
        <%- include('fileLink') %>
    </div>
</div>