*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #383838;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.shadow_text{
    text-shadow:
    1px 1px 0 #0038FF,
    -1px -1px 0 #0038FF,
    1px -1px 0 #0038FF,
    -1px 1px 0 #0038FF;
}

.errors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-default{
    border: 4px solid #0038FF;
    background-color:#282828;
    padding: 15px 30px;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    a{
        text-decoration: none;
        color: #FFF;
        text-shadow:
        1px 1px 0 #0038FF,
        -1px -1px 0 #0038FF,
        1px -1px 0 #0038FF,
        -1px 1px 0 #0038FF;
        font-size: 16px;
    }
}

.formWrapper{
    h2{
        margin-top: 40px;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        color: #FFF;
        text-shadow:
            1px 1px 0 #0038FF,
            -1px -1px 0 #0038FF,
            1px -1px 0 #0038FF,
            -1px 1px 0 #0038FF;
            }
    form{
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto;
        border: 4px solid #0038FF;
        border-radius: 10px;
        padding: 50px;
        .form-group{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
            margin-bottom: 20px;
            label{
                font-weight: 700;
                font-size: 18px;
                color: #FFF;
            }
            .form-control{
                min-width: 200px;
                max-width: 300px;
                height: 28px;
                border: 2px solid #0038FF;
            }
        }
        button{
            margin: 15px auto 0;
        }
    }
}

#uploadField{
    border: 2px solid #0038FF;
    padding: 10px;
    background-color: aliceblue;
}

//welcomePage
.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40vw;
    margin: 0 auto;
    h1{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    div{
        h3{
            margin-bottom: 20px;
        }
        text-align: center;
    }
}

.btn-container{
    width: fit-content;
    margin: 40px auto;
    display: flex;
    gap: 30px;
}
//welcomePage

//mainPage
.mainPage{
    .main-container{
        width: 100vw;
        display: flex;
        flex-direction: row;
        .left-panel {
            width: 16%;
            height: 100vh; /* Высота в 100% от экрана */
            display: flex;
            flex-direction: column; /* Flex-контейнер, элементы располагаются вертикально */
            justify-content: flex-start; /* Элементы начинают располагаться сверху */
            border-right: 5px solid #4182E3;
        }
        
        .welcome-block {
            background-color: #4182E3;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            margin-bottom: 40px;
        }
        
        .welcomeUser {
            margin-bottom: 15px;
            text-align: center;
        }
        
        .foldersAmount {
            margin-bottom: 60px;
            text-align: center;
        }
        
        .folders-array {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            padding: 0 10px;
        }
        
        .folder-link {
            font-size: 20px;
            color: #ececec;
            text-shadow:
                1px 1px 0 #0038FF,
                -1px -1px 0 #0038FF,
                1px -1px 0 #0038FF,
                -1px 1px 0 #0038FF;
            margin-bottom: 20px;
        }
        
        button {
            display: block;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        
        .logOutBtn {
            margin-top: auto;
            margin-bottom: 40px;
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 700;
            font-size: 26px;
            color: #ececec;
        }
        

        
        .right-panel{
            width: 80%;
            height: 100%;
        }
    }
}
//mainPage


//folder layout
.folderLayout{
    .folder_header{
        margin-top: 40px;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .add_and_delete{
            display: flex; 
            align-items: center;
            gap: 30px;
            .addFileBtn{
                margin-bottom: 0;
            }
            form{
                .delete-btn{
                    background: 0;
                    margin: 0;
                    border: 0;
                }
            }
        }
    }
}

//folder layout
.files-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    .file-wrapper{
        border: 3px solid #0038FF;
        border-radius: 5px;
        padding: 20px;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 40vw;
        .file-name{
            font-size: 20px;
            color: #ececec;
            text-shadow:
                1px 1px 0 #0038FF,
                -1px -1px 0 #0038FF,
                1px -1px 0 #0038FF,
                -1px 1px 0 #0038FF;
        }
        .downloadBtn{
            margin: 0 !important;
            text-shadow: 1px 1px 0 #0038FF, -1px -1px 0 #0038FF, 1px -1px 0 #0038FF, -1px 1px 0 #0038FF;
        }
    }
}
//folder layout

//file layout
.fileLayout{
    width: fit-content;
    margin: 40px auto;
    h3{
        margin-bottom: 50px;
        font-size: 24px;
    }   
    .file-info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }

    .download_and_delete{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        .downloadBtn{
            margin: 0;
            background-color: #282828;
            border: 4px solid #0038FF;
            text-shadow: 1px 1px 0 #0038FF, -1px -1px 0 #0038FF, 1px -1px 0 #0038FF, -1px 1px 0 #0038FF;
        }
        form{
            button{
                margin-bottom: 0;
                background: 0;
                border: 0;
            }
        }
    }
}
//file layout

//new folder layout

.newFolderForm{
    ul{
        margin-bottom: 20px;
    }
    button{
        margin: 0 auto!important;
    }
}

@media (max-width: 1300px) {
    .left-panel{
        p{
            overflow-wrap: break-word;
        }
        .btn-default{
            margin: 0 10px 50px 10px !important;
        }
    }
}

@media (max-width: 1000px) {
    .left-panel{
        .folders-array{
            a{
                p{
                    font-size: 16px;
                }
            }
        }
        .btn-default{
            padding: 15px 10px;
        }
    }
}

@media (max-width: 800px) {
    .left-panel{
        width: 25% !important;
    }
    .right-panel{
        padding-left: 20px;
        padding-right: 20px;
        .newFolder, .newFile{
            h2{
                font-size: 20px;
            }
            form{
                padding: 30px;
                .form-group{
                    gap: 10px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .main-container{
        flex-direction: column !important;
        .left-panel{
            width: 100% !important;
            height: fit-content !important;
            border-right: 0 !important;
            .welcome-block{
                padding: 20px;
                margin-bottom: 10px !important;
            }
            .foldersAmount{
                margin-bottom: 10px !important;
            }
            .folders-array{
                flex-direction: row !important;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
                padding: 0 20px;
            }
            .btn-default{
                width: fit-content;
                margin: 0 auto 10px !important;
            }
            .logOutBtn{
                padding-bottom: 10px;
                border-bottom: 3px solid#0038FF;
            }
        }
        .right-panel{
            width: 100% !important;
            .folderLayout{
                .folder_header{
                    justify-content: center;
                    flex-direction: column;
                    gap: 10px;
                    h3{
                        margin-right: 10px;
                        font-size: 16px;
                    }
                    .add_and_delete{
                        .addFileBtn{
                            padding: 15px 10px !important;
                        }
                    }
                }
                .files-container{
                    margin-bottom: 30px;
                    gap: 20px;
                    .file-wrapper{
                        width: 65vw;
                        a{
                            font-size: 16px;
                        }
                        form{
                            button{
                                padding: 15px 10px !important;
                            }
                        }
                    }
                }
            }
            .fileLayout{
                padding: 0 20px;
                h3{
                    font-size: 18px;
                    margin-bottom: 20px !important;
                }
                .file-info{
                    gap: 10px;
                }
                .download_and_delete{
                    gap: 20px;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .SignUp, .logIn{
        h2{
            font-size: 24px;
        }
        form{
            padding: 30px;
            .form-group{
                gap: 10px;
            }
        }
    }
    .welcomePage{
        .text-container{
            max-width: 80vw;
            h1{
                font-size: 1.5em;
            }
        }
    }
    .newFolder, .newFile{
        h2{
            margin-bottom: 20px !important;
        }
        form{
            padding: 30px 20px !important;
            .form-group{
                label{
                    font-size: 14px;
                }
                input{
                    min-width: 100px !important;
                    max-width: 100px !important;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .SignUp, .logIn{
        form{
            padding: 30px 10px;
            .form-group{
                gap: 10px;
                label{
                    font-size: 14px;
                }
                .form-control{
                    min-width: 80px;
                    max-width: 100px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .SignUp, .logIn{
        form{
            padding: 30px 10px;
            .form-group{
                gap: 10px;
                label{
                    font-size: 14px;
                }
            }
        }
    }
    .welcomePage{
        .text-container{
            max-width: 90vw;
        }
        .btn-container{
            .btn-default{
                padding: 15px 10px;
            }
        }
    }
}