<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./../style.css">
</head>
<body>

    <div class="page loginPage">
        <%- include('../forms/logIn') %>

        <% if (messages.length > 0) { %>
            <ul class="errors">
                <% messages.forEach(function(message) { %>
                    <li><%= message %></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
</body>
</html>
