<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./../style.css">
    </head>
<body>

    <div class="page loginPage">
        <%- include('../forms/logIn') %>
    </div>
</body>
</html> 