<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./../style.css">
    </head>
<body>

    <div class="page welcomePage">
        <div class="text-container">
            <h1 class="shadow_text">File Uploader</h1>

            <div>
                <h3>Welcome to File Uploader!</h3>
                <p>Welcome to our file management system, where you can easily upload, store, and organize your files. Create folders to sort your documents, images, 
                    and other files in a way that suits you. </p>
            </div>
        </div>

        <div class="btn-container">
            <button class="btn-default"><a href="/logIn">Log In</a></button>
            <button class="btn-default"><a href="/signUp">Sign Up</a></button>
        </div>
    </div>
</body>
</html> 