
    <div class="newFolder formWrapper">

        <h2>New Folder</h2>
        <form action="" method="">
            <div class="form-group">
                <label for="name">folder name</label>
                <input type="text" class="form-control" name="name">
            </div>
              <%- include("../partials/errors.ejs") %>
    
            <button type="submit" class="btn-default">Create Folder</button>
        </form>
    </div>

