
    <div class="SignUp formWrapper">
        <h2>Sign up</h2>
        <form action="/user/create" method="POST">
            <div class="form-group">
                <label for="nickname">nickname</label>
                <input type="text" class="form-control" name="nickname">
              </div>
            <div class="form-group">
                <label for="pwd">password</label>
                <input type="password" class="form-control" name="pwd">
              </div>
            <div class="form-group">
                <label for="pwdRepeat">repeat password</label>
                <input type="password" class="form-control" name="pwdRepeat">
              </div>

              <%- include("../partials/errors.ejs") %>
    
            <button type="submit" class="btn-default">Submit</button>
        </form>
    </div>
